# Core
fastapi
uvicorn[standard]

# Database
pymongo

# Environment Variables
python-dotenv

# Validation
pydantic[email]
email-validator

# Auth
passlib[bcrypt]
python-jose[cryptography]

# HTTP Requests (Google OAuth)
requests

# AI
groq